<mat-toolbar color="primary">
  <span>Visualizando commits</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="onRefreshClick()">
    <mat-icon>refresh</mat-icon>
    <span>Refrescar</span>
  </button>
</mat-toolbar>

<mat-form-field appearance="fill">
  <mat-label>Rama</mat-label>
  <mat-select [(value)]="selectedBranch" (selectionChange)="onBranchChange($event.value)">
    <mat-option *ngFor="let branch of branches" [value]="branch">{{branch}}</mat-option>
  </mat-select>
</mat-form-field>

<div class="paginator-container">
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="commits-container" *ngFor="let commit of commits;">
  <app-commit-card [commit]="commit"></app-commit-card>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>

