.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  width: 100%;
}

.fab-refresh-btn {
  display: none;
}

.commits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  margin: 2em 0;
  display: flex;
  justify-content: center;
}

.no-more-commits {
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .spacer {
    display: none;
  }

  .commits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .load-more {
    margin: 1em 0;
  }

  .refresh-btn {
    display: none;
  }

  mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  mat-form-field {
    margin-top: 60px;
  }

  .fab-refresh-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1;
  }
}
