<app-toolbar [owner]="owner" (refresh)="onRefreshClick()"></app-toolbar>

<mat-form-field appearance="fill">
  <mat-label>Rama</mat-label>
  <mat-select [(value)]="selectedBranch" (selectionChange)="onBranchChange($event.value)">
    <mat-option *ngFor="let branch of branches" [value]="branch">{{branch}}</mat-option>
  </mat-select>
</mat-form-field>

<div class="commits-container" *ngFor="let commit of commits;">
  <app-commit-card [commit]="commit" (viewDetails)="openDialog(commit.sha)"></app-commit-card>
</div>

<div class="load-more" *ngIf="!isLoading && hasMoreCommits">
  <button mat-raised-button color="accent" (click)="onLoadMoreClick()">
    <mat-icon>add</mat-icon>
    <span>Cargar más</span>
  </button>
</div>

<div *ngIf="!isLoading && !hasMoreCommits" class="no-more-commits">
  <span>No hay más commits para esta rama</span>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>

<button mat-fab color="accent" class="fab-refresh-btn">
  <mat-icon>refresh</mat-icon>
</button>
